# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: llion <llion@student.42mulhouse.fr >       +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2023/02/13 14:46:31 by llion             #+#    #+#              #
#    Updated: 2023/02/13 14:46:55 by llion            ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

push_swap_visualizer/
